/*** Styles ***/
/*** Sidebar Styles ***/

#sidebar {
	height: 100%;
	width: 200px;
	background-color: #999999;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

/*** Content Styles ***/
#content {
	height: 100%;
	width: 800px;
	position: absolute;
	left: 210px;
	top: 0;
	background-color: #eeeeee;
	text-align: center;
} 

.closeBtn {
	float: right;
}

form {
	text-align: center;
}


#newRoom,
#submitBtn {
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 10px auto;
}

